In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('dataset/Salary_Data.csv')
df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [6]:
x=df[['YearsExperience']]
x

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [7]:
y=df[['Salary']]
y

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

# Linear Regression

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test=train_test_split(df[['YearsExperience']],df[['Salary']])

In [10]:
x_train

    YearsExperience
29             10.5
26              9.5
2               1.5
9               3.7
22              7.9
19              6.0
6               3.0
21              7.1
10              3.9
13              4.1
3               2.0
8               3.2
17              5.3
11              4.0
0               1.1
24              8.7
25              9.0
12              4.0
14              4.5
23              8.2
1               1.3
5               2.9

In [11]:
x_test

    YearsExperience
15              4.9
20              6.8
7               3.2
16              5.1
18              5.9
4               2.2
27              9.6
28             10.3

In [12]:
y_train

      Salary
29  121872.0
26  116969.0
2    37731.0
9    57189.0
22  101302.0
19   93940.0
6    60150.0
21   98273.0
10   63218.0
13   57081.0
3    43525.0
8    64445.0
17   83088.0
11   55794.0
0    39343.0
24  109431.0
25  105582.0
12   56957.0
14   61111.0
23  113812.0
1    46205.0
5    56642.0

In [13]:
y_test

      Salary
15   67938.0
20   91738.0
7    54445.0
16   66029.0
18   81363.0
4    39891.0
27  112635.0
28  122391.0

In [14]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [15]:
y_pred=lr.predict(x_test)
y_pred

array([[ 73169.11742384],
       [ 91081.5873359 ],
       [ 57142.17066042],
       [ 75054.64057248],
       [ 82596.73316703],
       [ 47714.55491724],
       [117478.91141682],
       [124078.24243705]])

In [16]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [66]:
mse_LR=mean_squared_error(y_test,y_pred)
mse_LR

25696594.79106448

In [64]:
r2_LR=r2_score(y_test,y_pred)
r2_LR

0.963307326438103

In [65]:
mae_LR=mean_absolute_error(y_test,y_pred)
mae_LR

4149.847907373736

In [67]:
import numpy as np
rmse_LR=np.sqrt(mse)
rmse_LR

5069.155044864929

In [68]:
print("Mean Squared Error:",mse)
print("Mean Absolute Error:",mae)
print("Root Mean Squared Error:",rmse)
print("R2 Score:",r2)

Mean Squared Error: 25696332.86887956
Mean Absolute Error: 4149.655187038875
Root Mean Squared Error: 5069.155044864929
R2 Score: 0.963307700441947

# RandomForestRegressor

In [27]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor(n_estimators=100,random_state=0)
rfr.fit(x_train,y_train)

C:\Users\bldea\AppData\Local\Temp\ipykernel_1592\4077294850.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfr.fit(x_train,y_train)

RandomForestRegressor(random_state=0)

In [28]:
y_pred1=rfr.predict(x_test)
y_pred1

array([ 65446.913,  98027.16 ,  63321.37 ,  78507.533,  89364.395,
        43871.81 , 114463.49 , 118330.46 ])

In [23]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [71]:
mse_RFR=mean_squared_error(y_test,y_pred1)
mse_RFR

47495413.64124787

In [72]:
r2_RFR=r2_score(y_test,y_pred1)
r2_RFR

0.9321803638732871

In [73]:
mae_RFR=mean_absolute_error(y_test,y_pred1)
mae_RFR

6000.798125

In [74]:
import numpy as np
rmse_RFR=np.sqrt(mse)
rmse_RFR

5069.155044864929

In [31]:
print("Mean Squared Error:",mse)
print("Mean Absolute Error:",mae)
print("Root Mean Squared Error:",rmse)
print("R2 Score:",r2)

Mean Squared Error: 47495413.64124787
Mean Absolute Error: 6000.798125
Root Mean Squared Error: 6891.6916385781415
R2 Score: 0.9321803638732871

# SupportVectorRegression

In [33]:
from sklearn.svm import SVR
svr=SVR(kernel='rbf')
svr.fit(x_train,y_train)

C:\Users\bldea\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()

In [34]:
y_pred2=svr.predict(x_test)
y_pred2

array([62166.5954059 , 62172.62593496, 62162.3451051 , 62167.26424297,
       62169.97092098, 62161.74785374, 62174.27763999, 62173.27162424])

In [35]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [79]:
mse_SVR=mean_squared_error(y_test,y_pred2)
mse_SVR

1002338595.018286

In [75]:
r2_SVR=r2_score(y_test,y_pred2)
r2_SVR

-0.431259011730438

In [76]:
mae_SVR=mean_absolute_error(y_test,y_pred2)
mae_SVR

24882.260898724388

In [77]:
import numpy as np
rmse_SVR=np.sqrt(mse)
rmse_SVR

5069.155044864929

In [78]:
print("Mean Squared Error:",mse)
print("Mean Absolute Error:",mae)
print("Root Mean Squared Error:",rmse)
print("R2 Score:",r2)

Mean Squared Error: 25696332.86887956
Mean Absolute Error: 4149.655187038875
Root Mean Squared Error: 5069.155044864929
R2 Score: 0.963307700441947

# LassoRegressor

In [39]:
from sklearn.linear_model import Lasso
la= Lasso(alpha=3.0)
la.fit(x_train,y_train)

Lasso(alpha=3.0)

In [42]:
y_pred3=la.predict(x_test)
y_pred3

array([ 73169.18021056,  91080.92109908,  57142.88573135,  75054.62661988,
        82596.41225715,  47715.65368476, 117477.17082955, 124076.23326216])

In [43]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [83]:
mse_LA=mean_squared_error(y_test,y_pred3)
mse_LA

25696332.86887956

In [84]:
r2_LA=r2_score(y_test,y_pred3)
r2_LA

0.963307700441947

In [85]:
mae_LA=mean_absolute_error(y_test,y_pred3)
mae_LA

4149.655187038875

In [86]:
import numpy as np
rmse_LA=np.sqrt(mse)
rmse_LA

5069.155044864929

In [87]:
print("Mean Squared Error:",mse)
print("Mean Absolute Error:",mae)
print("Root Mean Squared Error:",rmse)
print("R2 Score:",r2)

Mean Squared Error: 25696332.86887956
Mean Absolute Error: 4149.655187038875
Root Mean Squared Error: 5069.155044864929
R2 Score: 0.963307700441947

In [88]:
#Evaluating and Compare the all algorithm
df1=pd.DataFrame({'Regression_Name':['LinearRegression','RandomForestRegression','SupportVectorRegression','LassoRegression'],'r2_score':[r2_LR,r2_RFR,r2_SVR,r2_LA], 'mse':[mse_LR,mse_RFR,mse_SVR,mse_LA], 'mae':[mae_LR,mae_RFR,mae_SVR,mae_LA], 'rmse':[rmse_LR,rmse_RFR,rmse_SVR,rmse_LA]})
df1

           Regression_Name  r2_score           mse           mae         rmse
0         LinearRegression  0.963307  2.569659e+07   4149.847907  5069.155045
1   RandomForestRegression  0.932180  4.749541e+07   6000.798125  5069.155045
2  SupportVectorRegression -0.431259  1.002339e+09  24882.260899  5069.155045
3          LassoRegression  0.963308  2.569633e+07   4149.655187  5069.155045