In [5]:
import pandas as pd
Maraks=([78,92,36,64,89])
Marks_series=pd.Series(Marks)
Marks_series

0    78
1    92
2    36
3    64
4    89
dtype: int64

In [15]:
Marks=([78,92,36,64,89])
Marks_series=pd.Series(Marks).values
Marks_series

array([78, 92, 36, 64, 89], dtype=int64)

In [16]:
Marks=([78,92,36,64,89])
Marks_series=pd.Series(Marks).index
Marks_series

RangeIndex(start=0, stop=5, step=1)

In [20]:
Marks=([78,92,36,64,89])
Marks_series=pd.Series(Marks)
Marks_series[1]

92

In [18]:
Marks=([78,92,36,64,89])
Marks_series=pd.Series(Marks)
Marks_series[1:3]

1    92
2    36
dtype: int64

In [21]:
data=([700000,800000,1600000,1800000,3000000])
index=(['swift','jazz','civic','Altis','Gallardo'])
data_index=pd.Series(data,index)
data_index

swift        700000
jazz         800000
civic       1600000
Altis       1800000
Gallardo    3000000
dtype: int64

In [11]:
data=([700000,800000,1600000,1800000,3000000])
index=(['swift','jazz','civic','Altis','Gallardo'])
data_index=pd.Series(data,index)
data_index['swift']

700000

In [12]:
data=([700000,800000,1600000,1800000,3000000])
index=(['swift','jazz','civic','Altis','Gallardo'])
data_index=pd.Series(data,index)
data_index['jazz':'Gallardo']

jazz         800000
civic       1600000
Altis       1800000
Gallardo    3000000
dtype: int64

In [13]:
#using dictionary to create a series
car_price_dict={'swift':700000,
               'jazz':800000,
               'civic':1600000,
               'altis':1800000,
               'gallado':30000000}
car_price=pd.Series(car_price_dict)
car_price

swift        700000
jazz         800000
civic       1600000
altis       1800000
gallado    30000000
dtype: int64

In [14]:
#creating the car manufacturer series with a dictionary
car_man_dict={'swift':'maruti',
             'jazz':'honda',
             'civic':'honda',
             'altis':'toyota',
             'gallardo':'lamborghini'}
car_man=pd.Series(car_man_dict)
car_man

swift            maruti
jazz              honda
civic             honda
altis            toyota
gallardo    lamborghini
dtype: object

In [16]:
car_price_dict={'swift':700000,
               'jazz':800000,
               'civic':1600000,
               'altis':1800000,
               'gallado':30000000}
car_price=pd.Series(car_price_dict)
car_man_dict={'swift':'maruti',
             'jazz':'honda',
             'civic':'honda',
             'altis':'toyota',
             'gallardo':'lamborghini'}
car_man=pd.Series(car_man_dict)
print(car_price)
print(car_man)

swift        700000
jazz         800000
civic       1600000
altis       1800000
gallado    30000000
dtype: int64
swift            maruti
jazz              honda
civic             honda
altis            toyota
gallardo    lamborghini
dtype: object

In [27]:
car_price_dict={'swift':700000,
               'jazz':800000,
               'civic':1600000,
               'altis':1800000,
               'gallado':30000000}
car_price=pd.Series(car_price_dict)
car_man_dict={'swift':'maruti',
             'jazz':'honda',
             'civic':'honda',
             'altis':'toyota',
             'gallardo':'lamborghini'}
car_man=pd.Series(car_man_dict)
cars=pd.DataFrame({'price':car_price,'manufacturer':car_man})
cars

               price manufacturer
altis      1800000.0       toyota
civic      1600000.0        honda
gallado   30000000.0          NaN
gallardo         NaN  lamborghini
jazz        800000.0        honda
swift       700000.0       maruti

In [22]:
cars=pd.DataFrame({'price':car_price,'manufacturer':car_man})
cars['price']

altis        1800000.0
civic        1600000.0
gallado     30000000.0
gallardo           NaN
jazz          800000.0
swift         700000.0
Name: price, dtype: float64

In [23]:
cars=pd.DataFrame({'price':car_price,'manufacturer':car_man})
cars['manufacturer']

altis            toyota
civic             honda
gallado             NaN
gallardo    lamborghini
jazz              honda
swift            maruti
Name: manufacturer, dtype: object

In [11]:
import pandas as pd
data_csv=pd.read_csv('dataset/auto-mpg.csv',)
data_csv